.logo-about {
    width: 300px;
    height: 300px;
    margin: 0 auto; 
  }

  .logo-about img {
    width: 100%; 
    height: 100%;
    object-fit: contain;
  }

  .text-about {
    text-align: center;
    font-family: 'Varela Round', sans-serif;
  }

  h1 {
    text-align: center;
    font-family: 'Varela Round', sans-serif;
  }

  .photo-about img {
    width: 50%;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }

  .text-about {
    font-size: large;
    font-family: 'Varela Round', sans-serif;
  }

  .icons-about {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px; 
  padding: 20px;
  font-family: 'Varela Round', sans-serif;
  }

  .icon-item {
    text-align: center;
    max-width: 300px;
  }

  @media (max-width: 767px) {
    .icons-about{
      flex-direction: column;
      font-family: 'Varela Round', sans-serif;
    }
    .title{
      color: black;
      font-size:60px;
      font-family: 'Varela Round', sans-serif;
    }
  }

  .title{
    font-size:60px;
    font-family: 'Varela Round', sans-serif;
  }