@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap');

.business-page-container {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 80vh; /* Ensures that it covers at least the full viewport height */
  align-items: center; /* Center content horizontally */
}

.img-container {
  position: relative;
  width: 100%;
  height: 40vh; /* Adjusted height */
  background-size: cover; 
  background-position: center; 
}

.img-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
}

.img-container h1 {
  color: white;
  position: relative;
  z-index: 1; 
  transform: translateY(-50%);
  font-size: 90px;
  font-weight: 600;
  animation: slide-in-bounce 1s forwards; 
  opacity: 0; 
  font-family: 'Varela Round', sans-serif;
}

.img-container p {
  color: white;
  position: relative;
  z-index: 1; 
  text-align: center;
  transform: translateY(-50%);
  margin-top: 40px;
  font-size: 30px;
  font-weight: 200;
  font-family: 'Varela Round', sans-serif;
}

.Business-logo {
  position: absolute;
  bottom: -100px;
  left: 50%;
  transform: translateX(-50%);
  height: 200px;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.business-desc{
  margin-top:11%;
}



.allergics-container{
  display: flex;  
  width: "100%";
  margin-top: 12%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}


.box-container {
  display: flex;
  justify-content: start;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  background-color: white; /* Adjust as needed */
  padding: 20px;
}

.box-headline {
  display: flex;
  justify-content: start;
  width: 95%;
  height: 50px;
  align-items: center;
  margin-top: 50px;
}

.box-headline-center {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.box-headline h1 { 
  font-family: 'Varela Round', sans-serif;
  font-weight: 400;
  font-size: 50px;
}

.box-title {
  width: 100%;
  height: 20%;
  text-align: right;
}

.carousel-box {
  width: 100%;
  height: 100vh;
  align-self: center;
}

/* .grid-container {
  display: grid;
  grid-template-columns: 1fr; 
  gap: 20px;
  padding: 20px;
  width: 100%;
} */

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* שלוש עמודות */
  gap: 20px;
  padding: 20px;
  width: 100%;
}

@media (max-width: 834px) {
  .grid-container {
    grid-template-columns: 1fr; /* עמודה אחת במסכים קטנים */
  }
}

@media (min-width: 835px) and (max-width: 1024px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr); /* שתי עמודות במסכים בינוניים */
  }
}

@media (min-width: 1025px) {
  .grid-container {
    grid-template-columns: repeat(3, 1fr); /* שלוש עמודות במסכים גדולים */
  }
}

.grid-item {
  background: #f8f8f8;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.muirtl-1fu7jd5-MuiButtonBase-root-MuiButton-root {
  height: 55px;
  background-color: #d67d00;
  font-family: "Arimo", "Manrope";
  font-weight: 200;
}

.OOS-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.share-buttons{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 70%;
}



@keyframes slide-in-bounce {
  0% {
    transform: translateX(-100%); 
    opacity: 0; 
  }
  60% {
    transform: translateX(10%);
    opacity: 1;
  }
  80% {
    transform: translateX(-5%); 
    opacity: 1; 
  }
  100% {
    transform: translateX(0); 
    opacity: 1; 
  }
}

@media (max-width: 834px) {
  .img-container {
    height: 30vh; /* Adjusted height for small screens */
  }
  .Business-logo{
  bottom: -50px;
  height: 150px;
  }
  .business-desc{
    margin-top:20%;
    width: 80%;
    text-align: center;
  }

  .allergics-container{
    margin-top: 10%;
  }
  .img-container h1 {
    font-size: 25px;
  }
  .img-container p {
    font-size: 20px;
    font-weight: 400;
  }
  .box-container h1 {
    font-size: 30px;
  }
  .box-headline h1 {
    font-size: 35px;
    margin-left: 20px;
    
  }
  .grid-container {
    grid-template-columns: 1fr; /* Single column for small screens */
  }
  .share-buttons{
    margin-top: 30%;
    
  }
}
  


@media (min-width: 835px) and (max-width: 1024px) {
  .img-container h1 {
    font-size: 35px;
  }
  .img-container p {
    font-size: 30px;
  }
  .box-container h1 {
    font-size: 28px;
  }
  .box-headline h1 {
    font-size: 35px;
    margin-left: 60px;
  }
  .img-container {
    bottom: 0;
  }
  .grid-container {
    grid-template-columns: 1fr;
  }
  .business-desc{
    margin-top:40%;
    width: 90%;
    text-align: center;
  }

  .allergics-container{
    margin-top: 11%;
  }
  .share-buttons{
    margin-top: 50%;

  }

}

@media (min-width: 1025px) and (max-width: 1440px) {
  .img-container h1 {
    font-size: 50px;
  }
  .img-container p {
    font-size: 40px;
   
  }
  .img-container {
    height: 40vh; /* Adjusted height */
    bottom: 0;
  }
  .box-headline h1 {
    font-size: 35px;
    margin-left: 70px;
  }
  .box-container {
    top: 0;
  }
  .grid-container {
    grid-template-columns: 1fr; /* Single column for large screens */
  }
  .business-desc{
    margin-top:10%;
    width: 90%;
    text-align: center;
  }

  .allergics-container{
    margin-top: 5%;
  }
  .share-buttons{
    margin-top: 50%;

  }

}

@media (min-width: 1441px) {
  .box-headline h1 {
    font-size: 35px;
    margin-left: 100px;
  }
  .img-container p {
    font-size: 50px;
  
  }
  .business-desc{
    width: 90%;
    margin-top:8%;
    text-align: center;
  }

  .allergics-container{
    margin-top: 5%;
  }

}





.countdown-container {
  position: relative;
  top: 20%; /* Adjust based on your layout */
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  text-align: center;
  z-index: 1000; /* Ensure it's above other content */
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  background-color: #ffffff;
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.countdown-display {
  font-size: 48px; /* Large, easy-to-read digits */
  color: #333333; /* Dark text for readability */
  font-weight: bold;
  letter-spacing: 3px;
  
}

.countdown-display span {
  background-color: #f44336; /* Red background for dramatic effect */
  color: #ffffff; /* White text for contrast */
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}


.countdown-display span {
  animation: pulse 1s infinite alternate;
  transition: background-color 0.5s ease;
}

@keyframes pulse {
  0% { transform: scale(1); }
  100% { transform: scale(1.05); }
}





/* .whatsapp-button {
  display: flex;
  align-items: center;
  background-color: #25D366;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.whatsapp-button:hover {
  background-color: #1DA851;
}
.whatsapp-button-hover:hover {
  background-color: #1DA851;
}


.whatsapp-button svg {
  margin-right: 10px;
} */
