.order-container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    text-align: center;
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  h3 {
    font-size: 20px;
  }
  
  .quantity-selector {
  
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 20px;
}
  
  .quantity-btn {
    padding: 5px 10px;
    font-size: 30px;
    cursor: pointer;
    background-color: #113946;
    color: white;
    border: none;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    transition: background-color 0.3s ease;
  }
  
  .quantity-btn:hover {
    background-color: #2f6db0;
  }
  
  span {
    margin: 0 10px;
  }
  .button-checkout{
    border: none;
    border-radius: 10px;
    background-color:#113946 ;
    color: white  ;
    padding: 10px;
    margin: 10px;
  }
  .button-checkout:active{
    background-color: #2f6db0;
  }