.container-wrapper{
  display: flex;
  justify-content: center; /* Horizontal centering */
  align-items: center; /* Vertical centering */
  height: 80vh; /* Full viewport height */
  flex-direction: column;
  margin-top: 80px;
}



.box-img-container{
 display: flex;
 justify-content: center;
 margin-top: 50px;
  width:100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  /* background-image: url("../Images/exampleBox.jpg"); */

  
}
.box-img-container img{
  background-size: cover;
  background-position: center;
  width:30%;
  height: 100%;
  border-radius: 10px;
}

.order-container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    text-align: center;
  }
  
  h2 {
    font-size: 30px;
  }
  
  h3 {
    font-size: 20px;
  }
  
  .quantity-selector {
  
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 20px;
}
  
  .quantity-btn {
    padding: 5px 10px;
    font-size: 30px;
    cursor: pointer;
    background-color: #113946;
    color: white;
    border: none;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    transition: background-color 0.3s ease;
  }
  
  .quantity-btn:hover {
    background-color: #2f6db0;
  }
  
  span {
    margin: 0 10px;
  }
  .button-checkout{
    border: none;
    border-radius: 10px;
    background-color:#113946 ;
    color: white  ;
    padding: 10px;
    margin: 10px;
  }
  .button-checkout:active{
    background-color: #2f6db0;
  }
  
  
  @media (max-width: 834px) {
    .box-img-container{
      width: 80%;
    }
    
  }

  @media (min-width: 835px) and (max-width: 1024px){
    .box-img-container img{
      height: 100%;
      width: 30%;
    }
    .container-wrapper{
      margin-top: 100px;
    }
  }